*.out
*.github
*.vscode
*.ini
__pycache__/
.gemini/
*.parquet
results/model_output/
figures/
machine_learning_model/
signaling/
*.pyc
*.pyo
*.pyd
*~
*.swp
.DS_Store
*.venv
tests/
.geminiignore
.pytest_cache/